/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 5px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-left: 2rem;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

ul li a:hover {
  color: #ff6347;
}

/* Hero Section */
#hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://i.ibb.co/8Kz84sB/hero-background.jpg');
  filter: blur(8px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero-content h1 {
  color: #fff;
}

.hero-button {
  background: #ff6347;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.hero-button:hover {
  background: #e55337;
}

/* Section Styles */
section {
  padding: 5rem 0;
  text-align: center;
}

section h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #333;
}


/* About Me Section */
#about {
  padding: 5rem 0;
  background-color: #f9f9f9;
}

#about h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.about-content p {
  max-width: 800px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 40px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.download-cv-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff7f50;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color .5s ease;
}

.download-cv-button i {
  margin-right: 8px;
}

.download-cv-button:hover {
  background-color: #ff4500;
}

/* Responsive for About Me Section */
@media (max-width: 768px) {
  .about-content {
      flex-direction: column;
      text-align: center;
  }

  .profile-picture {
      margin-right: 0;
      margin-bottom: 2rem;
  }
}
/* CSS for the contact section */
#contact {
  text-align: center;
  padding: 50px 20px;
}

#contact h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.2em;
  margin: 10px 0;
}

#contact i {
  margin-right: 10px;
}

#contact .socials {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#contact .socials li {
  display: inline-block;
  margin: 0 10px;
}

#contact .socials li a {
  font-size: 2em;
  color: #333;
  transition: color 0.3s;
}

#contact .socials li a:hover {
  color: #0073b1; /* LinkedIn color */
}

#contact .socials li a:hover .fab.fa-github {
  color: #000; /* GitHub color */
}


/* Responsive */
@media (max-width: 768px) {
  .hamburger {
      display: flex;
  }
  
  ul {
      flex-direction: column;
      position: fixed;
      top: 80px;
      right: 0;
      background: #333;
      width: 50%;
      height: 100%;
      transform: translateX(100%);
      transition: transform 0.3s;
  }

  ul.active {
      transform: translateX(0);
  }

  ul li {
      margin: 1.5rem 0;
  }

  ul li a {
      font-size: 1.2rem;
  }
}

/* Education Section */
#education {
  padding: 5rem 0;
  background-color: #f0f0f0;
}

#education h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.timeline-event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  transition: transform 0.3s ease;
}

.timeline-event:hover {
  transform: translateY(-5px);
}

.timeline-icon {
  font-size: 2em;
  color: #ff7f50;
  margin-right: 20px;
}

.timeline-content {
  flex: 1;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.timeline-content p {
  margin: 5px 0;
  color: #666;
  display: flex;
  align-items: center;
}

.timeline-content p i {
  margin-right: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .timeline-event {
      flex-direction: column;
      text-align: center;
  }

  .timeline-icon {
      margin-bottom: 10px;
  }

  .timeline-content h3, .timeline-content p {
      text-align: center;
  }
}

.timeline2 {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.timeline2-event {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.timeline2-event::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ccc;
}

.timeline2-icon {
  background: #ff6347;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  position: relative;
  z-index: 1;
}

.timeline2-content {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.timeline2-content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.timeline2-date {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #aaa;
}

.timeline2-content p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

/* Responsive for Education Section */
@media (max-width: 768px) {
  .timeline2-event {
      flex-direction: column;
      align-items: flex-start;
  }

  .timeline2-event::before {
      left: 0;
      top: 40px;
      height: 2px;
      width: calc(100% - 40px);
  }

  .timeline2-icon {
      margin-right: 0;
      margin-bottom: 1rem;
  }

  .timeline2-content {
      padding: 1rem;
  }
}

/* Skills Section */
#skills {
  padding: 5rem 0;
  background-color: #f9f9f9;
}

#skills h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  margin: auto;
}

.skill {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(45% - 2rem);
  max-width: calc(45% - 2rem);
  display: flex;
  align-items: center;
}

.skill-icon {
  font-size: 3rem;
  color: #ff6347;
  margin-right: 1rem;
}

.skill-info {
  flex: 1;
}

.skill-info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.progress-bar {
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progress {
  height: 10px;
  background: #ff6347;
  border-radius: 5px;
}

.skill-info p {
  font-size: 1rem;
  color: #555;
}

/* Responsive for Skills Section */
@media (max-width: 768px) {
  .skill {
      flex: 1 1 100%;
      max-width: 100%;
  }
}


/* Experience Section */
#experience {
  padding: 5rem 0;
  background-color: #2a2a2a;
  color: #f9f9f9;
}

#experience h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #f9f9f9;
  text-align: center;
}

/* Responsive for Experience Section */
@media (max-width: 768px) {
  .timeline::before {
      left: 10px;
  }
  .timeline-event {
      margin-left: 20px;
  }
  .timeline-icon {
      left: -10px;
  }
  .timeline-content {
      margin-left: 40px;
  }
}

/* Projects Section */
#projects {
  padding: 5rem 0;
  background-color: #f4f4f4;
  text-align: center;
}

#projects h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #333;
}

/* Project Container */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Project Box */
.project-box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-box img {
  width: 100%;
  height: auto;
}

.project-box h3 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #ff6347;
}

.project-box p {
  margin: 1rem;
  color: #666;
}

.project-box .project-link {
  display: block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: #ff6347;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.project-box .project-link:hover {
  background: #ff4500;
}

/* Responsive for Projects Section */
@media (max-width: 768px) {
  .project-container {
      flex-direction: column;
      align-items: center;
  }
}
